<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Assets/admin/css/notfound.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <img class="cat" src="~/Assets/admin/css/images/cat.png" />
        <div class="not-found">
            !404 - NOT FOUND
        </div>
    </div>
</body>
</html>