@model List<Model.ViewModel.BookViewModel>
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section cssHeader {
    <style>
        .date {
            padding: 6px 9px;
            border: none;
            box-shadow: inset 0px 0px 4px 0px #888888;
        }
    </style>
}

@section jsFooter {
    <script src="~/Assets/admin/js/order.js"></script>
    <script src="~/Content/plugins/jquery.twbsPagination.min.js"></script>
}
<div class="row">
    <div class="col-sm-12 list-book">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-sm-12">
                <div class="title-list">
                    <div class="float-left">
                        <span class="title-list">DANH SÁCH - Đơn hàng</span><span class="result-list"> (<span class="amount"></span> results)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mt-3 mb-3">
            <div class="col-sm-12">
                <div class="display-search">
                    <div class="float-left">
                        <input type="text" name="searchText" id="search-text" value="" class="search-box" placeholder="Search" style="width:350px" />
                        <input type="date" class="date" id="fromDate" name="name" value="" style="margin-left:5px" placeholder="From date" />
                        -
                        <input type="date" class="date" id="toDate" name="name" value="" />
                        <select name="sel-list" class="sel-list" style="margin-left:5px">
                            <option value="">Tất cả</option>
                            <option value="Đơn hàng mới">Đơn hàng mới</option>
                            <option value="Đang xử lý">Đang xử lý</option>
                            <option value="Đang vận chuyển">Đang vận chuyển</option>
                            <option value="Hoàn tất">Hoàn tất</option>
                        </select>
                        <a href="#" class="btn-reset">Reset</a>
                    </div>
                    <div class="float-right">
                        <a href="#" class="my-btn btn-export">export</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="my-table table table-sm">
                    <thead>
                        <tr class="my-thead text-center">
                            <td width="9%" class="text-left">Đơn hàng</td>
                            <td width="12%">Ngày đặt hàng</td>
                            <td width="12%">Ngày duyệt</td>
                            <td width="12%">Ngày hoàn tất</td>
                            <td width="12%">Tổng Tiền</td>
                            <td width="11%">Trạng Thái</td>
                            <td width="11%">Người Duyệt</td>
                            <td width="21%"></td>
                        </tr>
                    </thead>
                    <tbody id="result"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="pagination" class="pagination">
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr class="text-center" style="font-size:14px;">
        <td class="text-left"><a href="#">#{{ID}}</a></td>
        <td>{{CreatedDate}}</td>
        <td>{{ConfirmDate}}</td>
        <td>{{FinishDate}}</td>
        <td>{{TotalCost}}</td>
        <td>{{{Status}}}</td>
        <td>{{{ConfirmBy}}}</td>
        <td class="text-left">
            <a class="my-btn btn-edit" href="/Admin/Order/OrderDetail?id={{ID}}" data-id="{{ID}}">View</a>
            <a class="my-btn btn-delete" data-id="{{ID}}">Delete</a>
            {{{btnConfirm}}}
        </td>
    </tr>
</script>