
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CATEGORIES SLIDES -->
<div id="map" style="width:500px;height:500px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.1417190731254!2d105.96006601463405!3d10.25015207148984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a82ce95555555%3A0x451cc8d95d6039f8!2sVinh+Long+University+Of+Technology+Education!5e0!3m2!1sen!2s!4v1527474549458" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- end /CATEGORIES SLIDES -->
<div class="box-shadown"></div>
<!-- CONTENT -->
<section id="content">
    <!-- LIST BOOK HOT -->
    
    <!-- end /LIST NEW BOOK -->
</section>
<script type="text/javascript">
function refrClock()
{
var d=new Date();
var month=d.getMonth();
var year=d.getFullYear();
var months=new Array("1","2","3","4","5","6","7","8","9","10","11","12");
document.getElementById("premonth").innerHTML = months[month-1] + "/" + year;
document.getElementById("newmonth").innerHTML = months[month] + "/" + year;

}
refrClock();

</script>
<!-- end /CONTENT -->
