    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter {
    <script src="~/Assets/client/js/loadAddress.js"></script>
    <script src="~/Assets/client/js/cart.js"></script>
    <script src="~/Assets/client/js/order.js"></script>
}

@section cssHeader {
    <link href="~/Assets/client/css/order.css" rel="stylesheet" />
}

<div class="page">
    <div class="left">
        <form action="/Order/Add" id="form-save-add" method="post">
            <div class="title">Địa chỉ giao hàng</div>
            <div class="detail">
                <div class="input-row">
                    <div class="text">Họ tên</div>
                    <div class="input">
                        <input type="text" class="input-value" id="name" name="name">
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Điện thoại di động</div>
                    <div class="input">
                        <input type="text" class="input-value" id="phone" name="phone">
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Email</div>
                    <div class="input">
                        <input type="text" class="input-value" id="email" name="email">
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Tỉnh/Thành</div>
                    <div class="input">
                        <select id="ddlProvince" name="Province" class="form-control-select"></select>
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Quận/Huyện</div>
                    <div class="input">
                        <select id="ddlDistrict" name="District" class="form-control-select"></select>
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Phường/Xã</div>
                    <div class="input">
                        <select id="ddlPrecinct" name="Precinct" class="form-control-select"></select>
                    </div>
                </div>
                <div class="input-row">
                    <div class="text">Địa chỉ</div>
                    <div class="input">
                        <textarea class="input-value" placeholder="Số nhà, tòa nhà(nếu có), tên đường" id="address" name="address"></textarea>
                    </div>
                </div>
                <div class="btn-continue">Đặt hàng</div>
            </div>
        </form>
    </div>
    <div class="right">
        <div class="title">Đơn hàng (<small class="total-product"></small> sản phẩm)</div>
        <div class="list-product">
           <!-- LIST -->
        </div>
        <div class="total-cost">Tổng tiền: <span class="cost"></span></div>
    </div>
</div>
