
@{
    ViewBag.Title = "SuccessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
}

<div class="content mt-3 mb-3" style="padding-bottom:5px;padding-top:3px">
    <h2 style="color: #158dbb;">Cảm ơn bạn đã đặt hàng tại UnicornBookStore.vn!</h2>
    <h3>Mã số đơn hàng của bạn là: <strong>@ViewBag.ID</strong></h3>
    <p>Thông tin chi tiết về đơn hàng đã được gởi đến địa chỉ email <b>ng.hg.anh.phuong@gmail.com</b>. Bạn vui lòng kiểm tra hộp thư đến, nếu không tìm thấy vui lòng tìm thêm trong hộp thư spam hoặc Junk Folder.</p>
    <p>Chúng tôi sẽ kiểm tra xác thực đơn hàng của bạn và xử lý trong một lúc. Bạn có thể kiểm tra tình trạng đơn hàng <a href="#">tại đây.</a></p>
    <p>Bạn có thể gửi email về vấn đề của bạn <a href="#">tại đây.</a></p>
    <p><a href="#">Câu hỏi thường gặp.</a></p>
</div>

